@import 'vars'
*
    box-sizing: border-box
    margin: 0
    padding: 0
    word-break: break-word
body
    font: 1em Arial, Helvetica, Sans-serif
    padding-bottom: 60px
header
    background-image: $top-tail-bg
    border-bottom: 1px solid $grey-border
    padding: 20px
#main-window
    display: flex
    flex-wrap: wrap-reverse
    padding: 20px
#main-window__messages
    width: 65%
    padding-right: 20px
#main-window__usernames
    background: $light-bg
    width: 35%
    padding: 20px
    border-radius: 3px
form
    height: 60px
    display: flex
    background-image: $top-tail-bg
    padding: 20px 5px 10px 5px
    position: fixed 
    bottom: 0
    width: 100%
    border-top: 1px solid $grey-border
input
    border-style: solid
    border-width: 1px
    padding: 10px
    width: 85%
    margin-right: .5%
button
    flex-shrink: 0
    min-width: 10%
    background: $light-bg
    border: none
    padding: 10px 0 10px 0
    margin-left: 2%
    cursor: pointer
    position: relative
button:hover
    background: #D8BFD8
.button-text
    word-break: normal
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
#users-online
    list-style-type: none
#messages 
    list-style-type: none
    margin: 0
    padding: 0
#messages li
    padding: 6px 12px
#messages li:nth-child(odd)
    background: $very-light-bg
.typing
    color: #4682B4
h1
    font-size: 1.4em
    color: #fff
    font-weight: normal
h2
    font-size: 1.1em
    font-weight: normal
    margin-bottom: 10px